*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bada55;
}

main.container {
  max-width: 600px;
  margin: 40px auto 0;
  text-align: center;
  background-color: #FFF;
  padding: 40px 20px;
  border-radius: 3px;
  box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #999;
  text-shadow: 1px 1px 1px RGBA(0, 0, 0, 0.3);
}

section {
  margin: 20px 0;
}

label + label {
  margin-left: 10px;
}
