/* iCheck.js Default skin, orange
----------------------------------- */
.icheckbox-orange,
.iradio-orange {
    display: block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(orange.png) no-repeat;
    border: none;
}

.icheckbox-orange,
.icheckbox-orange.static:hover {
    background-position: 0 0;
}
    .icheckbox-orange.hover,
    .icheckbox-orange:hover {
        background-position: -20px 0;
    }
    .icheckbox-orange.checked {
        background-position: -40px 0;
    }
    .icheckbox-orange.disabled {
        background-position: -60px 0;
    }
    .icheckbox-orange.checked.disabled {
        background-position: -80px 0;
    }

.iradio-orange,
.iradio-orange.static:hover {
    background-position: -100px 0;
}
    .iradio-orange.hover,
    .iradio-orange:hover {
        background-position: -120px 0;
    }
    .iradio-orange.checked {
        background-position: -140px 0;
    }
    .iradio-orange.disabled {
        background-position: -160px 0;
    }
    .iradio-orange.checked.disabled {
        background-position: -180px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox-orange,
    .iradio-orange {
        background-image: url(orange@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}